@model Kalikoe.ViewModels.VideoViewModel
@{
   Layout = "~/Views/Home/KalikoeMaster1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from uxart.io/downloads/metavideo-html/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:54:17 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy | Kalikoe</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png" />

    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-select/css/bootstrap-select.min.css" media="screen">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!--Theme Styles-->
    <link rel="stylesheet" href="css/default/style.css">
    <link rel="stylesheet" href="css/responsive/responsive.css">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home">


    <section class="row recent_uploads" style="background-color:white;">
            <div class="row col-md-12 text-center">
                <h1>
                    Help and Support
                </h1>
            </div>
            <div class="row col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10 post_page_uploads" style="margin:5px;">
                    <b style="font-size:100%;padding:5px;margin-top:8px">
                        Effective date: January 24, 2019
                        Kali-TV ("us", "we", or "our") operates the http://kali-tv.com/ website (the "Service").
                    </b>
                    <p>
                        This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for Kali-TV is created with the help of the Free Privacy Policy website.
                        We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from http://kali-tv.com/
                    </p>
                    <h2 style="font-size:134%;padding-bottom:8px;margin-top:8px">Information Collection And Use</h2>
                    <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Types of Data Collected</h3>

                    <h5 style="font-size:134%;padding-bottom:8px;margin-top:8px">Personal Data</h5>
                    <p>
                        While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:
                    </p>
                    <ul>
                        <li>Email address</li>
                        <li>First name and last name</li>
                        <li>Cookies and Usage Data</li>
                    </ul>
                    <h5 style="font-size:134%;padding-bottom:8px;margin-top:8px">Usage Data</h5>
                    <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                    <h5 style="font-size:134%;padding-bottom:8px;margin-top:8px">Tracking & Cookies Data</h5>
                    <p>
                        We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.
                        Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
                        You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
                    </p>
                    <h5 style="font-size:134%;padding-bottom:8px;margin-top:8px">Examples of Cookies we use:</h5>
                    <ul>
                        <li><b>Session Cookies.</b> We use Session Cookies to operate our Service.</li>
                        <li><b>Preference Cookies.</b> We use Preference Cookies to remember your preferences and various settings.</li>
                        <li><b>Security Cookies.</b> We use Security Cookies for security purposes.</li>
                    </ul>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Use of Data</h3>
                    <b>Kali-TV uses the collected data for various purposes:</b>
                    <ul>
                        <li>To provide and maintain the Service</li>
                        <li>To notify you about changes to our Service</li>
                        <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                        <li>To provide customer care and support</li>
                        <li>To provide analysis or valuable information so that we can improve the Service</li>
                        <li>To monitor the usage of the Service</li>
                        <li>To detect, prevent and address technical issues</li>
                    </ul>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Transfer Of Data</h3>
                    <p>
                        Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
                        If you are located outside United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.
                        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
                        Kali-TV will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
                    </p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Disclosure Of Data</h3>
                    <h5 style="font-size:134%;padding-bottom:8px;margin-top:8px">Legal Requirements</h5>
                    <p>Kali-TV may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
                    <ul>
                        <li>To comply with a legal obligation</li>
                        <li>To protect and defend the rights or property of Kali-TV</li>
                        <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
                        <li>To protect the personal safety of users of the Service or the public</li>
                        <li>To protect against legal liability</li>
                    </ul>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Security Of Data</h3>
                    <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Service Providers</h3>
                    <p>
                        We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
                        These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                    </p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Links To Other Sites</h3>
                    <p>
                        Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
                        We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
                    </p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Children's Privacy</h3>
                    <p>
                        Our Service does not address anyone under the age of 18 ("Children").
                        We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
                    </p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Changes To This Privacy Policy</h3>
                    <p>
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                        We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.
                        You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
                    </p>
                    <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Contact Us</h3>
                    <p>If you have any questions about this Privacy Policy, please contact us:</p>
                    <ul>
                        <li>By email: teamkalikoe@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
    </section> <!--Recent Upload-->
    <!--Advertise Row-->

      

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <script src="js/jquery-2.1.4.min.js"></script>

    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>

    <!--Dropzone-->
    <script src="js/dropzone.html"></script>

    <!--jScroll-->
    <script src="js/jquery.jscroll.min.js"></script>

    <!--Magnific Popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--Bootstrap Select-->
    <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!--Theme JS-->
    <script src="js/theme.js"></script>
    <style>
        .author_details .bio_section {
            border-right: 1px solid #e8ebed !important;
        }
    </style>
    <script src="js/popup.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <!-- SALES Seasonal Promotions [POP UP] script -->
    <div id="demo" class="simplePopup" style="background-color:white;">
        <center><img class="img-responsive" id="imgslide" src="images/slide1.png" /></center>
        <input type="hidden" id="hdnslide" value="1" />
        <div class="row" style="float:right">
            <button onclick="fnnext()" id="btnnext" value="Next" class="form-control btn btn-default">Next</button>
        </div>
        <div class="row">
            <span id="spSlideText" style="color:#000000"><strong>Welcome to Kali-TV</strong><br>A new world for internet champions.</span>
        </div>
    </div>

    <!-- End of SALES Seasonal Promotions [POP UP] -->

    <style>
        .load-full-screen {
            margin-top: -11px;
        }

        .recent_uploads {
            padding-top: 20px !important;
        }

        .simplePopup {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 30%;
            min-width: 30%;
            padding: 3%;
        }

        .simplePopupBackground {
            display: none;
            background: #000;
            position: fixed !important;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    </style>
    <script>
        $(document).ready(function () {
            var popval = '@ViewBag.showslide';
            if (popval == "Yes") {
                $.removeCookie('kalikoepop', { path: '/' });
            }
            if ($.cookie('kalikoepop') == null) {
                alert(popval);
                $.cookie('kalikoepop', 'yes', { expires: 1, path: '/' });

                $('#demo').simplePopup({
                    centerPopup: true,
                    open: function () { },
                    closed: function () { }
                });
                setTimeout(function () {
                    $('#demo').fadeOut('fast');
                    $(".simplePopupBackground").fadeOut("fast");
                }, 20000);
            }
        });
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        function fnPopRefer() {
            $('#dvPopup').simplePopup({
                centerPopup: true,
                open: function () { },
                closed: function () { }
            });
        }
    </script>
</body>
<!-- Mirrored from uxart.io/downloads/metavideo-html/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:54:20 GMT -->
</html>