@model Kalikoe.ViewModels.VideoViewModel
@{
    Layout = "~/Views/Home/KalikoeMaster1.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from uxart.io/downloads/metavideo-html/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:54:17 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms and Conditions | Kalikoe</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png" />

    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-select/css/bootstrap-select.min.css" media="screen">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!--Theme Styles-->
    <link rel="stylesheet" href="css/default/style.css">
    <link rel="stylesheet" href="css/responsive/responsive.css">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home">

    <section class="row recent_uploads" style="background-color:white;">
            <div class="row col-md-12 text-center"style="margin:5px;">
                <h1 class="header" >
                    Terms and Conditions
                </h1>
            </div>
            <div class="row" style="margin:15px;">
                <div class="col-md-1"></div>
                <div class="col-md-10 post_page_uploads">
                    <div>
                        <h1 style="font-size:134%;padding-bottom:8px">Website and Social networks terms and conditions of use</h1>
                        <p>Kali-TV, Inc. (“Kali-TV”) is pleased to offer you access to this website (the “Site”), Kali-TV’s social networks, and other services that Kali-TV may from time to time provide from this website, subject to these Terms and Conditions of Use (the “Terms”). The term “Social Networks” encompasses a broad sweep of online activity, including participation in social networks such as Facebook, YouTube, Flickr, and Twitter, and interactive blogs, websites or listserves, some of which may be located on the Site. These Terms apply to all users of the Site and the Kali-TV Social Networks, including users who are also contributors of User Generated Content (as hereinafter defined).</p>
                        <p style="text-transform:capitalize">BY PROCEEDING BEYOND THE SITE HOME PAGE OR VIEWING OR POSTING CONTENT TO THE KALI-TV SOCIAL NETWORKS, YOU EXPRESS YOUR CONSENT TO, AGREEMENT WITH, AND UNDERSTANDING OF THESE TERMS. KALI-TV MAY, IN ITS SOLE DISCRETION, MODIFY, RESTRICT, CHANGE, OR OTHERWISE ALTER THESE TERMS, THE SITE, OR THE KALI-TV SOCIAL NETWORKS, IN WHOLE OR IN PART, IMPOSE LIMITS ON CERTAIN FEATURES ON THE SITE OR THE KALI-TV SOCIAL NETWORKS, OR RESTRICT YOUR ACCESS TO PART OR ALL OF THE SITE OR THE KALI-TV SOCIAL NETWORKS. BY CONTINUING TO ACCESS AND USE THE SITE AND/OR THE KALI-TV SOCIAL NETWORKS YOU WILL BE EVIDENCING YOUR CONSENT TO, AGREEMENT WITH, AND UNDERSTANDING OF, SUCH MODIFICATIONS, CHANGES OR ALTERATIONS. PLEASE REVIEW THESE TERMS REGULARLY AS THEY MAY BE MODIFIED FROM TIME TO TIME WITHOUT NOTICE TO YOU.</p>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Kali-TV Generated Content</h3>
                        <p>
                            The copyright rights and other property rights to the Site and the Kali-TV Social Networks are owned by Kali-TV. All rights regarding the content posted to the Site and the Kali-TV Social Networks by Kali-TV are reserved by Kali-TV. The content on the Site may not be used or disseminated without the prior written consent of Kali-TV, except that you may download spec sheets solely for the purpose of doing business with Kali-TV. The Site and the Kali-TV Social Networks may contain text, images, audiovisual productions, opinions, statements, facts, articles, or other information created by Kali-TV or by third parties for Kali-TV. Such content is for your reference only and should not be relied upon by you for any purpose. Kali-TV is not responsible for the content’s accuracy and reliability.
                            Some of the information provided by Kali-TV on the Site and the Kali-TV Social Networks may contain projections or other statements regarding future events or the future financial performance of Kali-TV that constitute “forward-looking statements” within meaning of the Securities Exchange Act of 1934, the Private Securities Litigation Reform Act of 1995 and other related laws that provide a “safe harbor” for forward-looking statements. These forward-looking statements, which may include statements that reflect our current views with respect to future events and financial performance, are identified by their use of such terms and phrases as “intend,” “goal,” “estimate,” “expect,” “project,” “projections,” “plans,” “anticipate,” “should,” “designed to,” “foreseeable future,” “believe,” “confident,” “think,” “scheduled,” “outlook,” “guidance” and similar expressions. This list of indicative terms and phrases is not intended to be all-inclusive. Readers are cautioned not to place undue reliance on these forward-looking statements, which speak only as of the date they were made. We are not undertaking any duty or obligation to update any forward-looking statements to reflect developments or information obtained after the date such forward-looking statements are made.
                            Our actual results may differ significantly from the results discussed in forward-looking statements. Factors that might cause such a difference include, but are not limited to: (a) the general economic, political and competitive conditions in the markets where we operate; (b) changes in capital availability or costs, such as changes in interest rates, security ratings and market perceptions of the businesses in which we operate; (c) changes in the regulatory framework governing business generally, and the telecommunication services and equipment industry in particular, in the U.S. and other countries; (d) changes in authoritative generally accepted accounting principles or policies from such standard-setting bodies as the Financial Accounting Standards Board, the Public Company Accounting Oversight Board and the Securities and Exchange Commission (SEC); (e) the impact of corporate governance, accounting and securities law reforms by the United States Congress, the SEC or the New York Stock Exchange; (f) natural and man-made catastrophes; and (g) other factors discussed in the documents we file from time to time with the SEC, including specifically our most recently filed reports on Forms 10-K, 10-Q and 8-K, as amended, to which we refer you for more information regarding our forward-looking statements and risk factors.
                            Kali-TV may provide links to other websites as a convenience for its Site and Social Networks users. Kali-TV is not responsible for the content of these other websites, and Kali-TV does not endorse, warrant or guarantee the products or services described or offered in these other websites.
                        </p>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">User Generated Content</h3>
                        <p>You may submit content, including text, images, photographs and video to the Kali-TV Social Networks (collectively, “User Generated Content”), provided that you abide by these common sense rules:</p>
                        <ul>
                            <li>If you post it, you own it</li>
                        </ul>
                        <p>Think twice before you publish. Would you want your family, friends, colleagues, or others to read or see the content you post? Keep in mind that even if original content can be deleted, the content that is shared and distributed through an array of channels can be reposted, searched, and found on the Internet.</p>
                        <ul>
                            <li>Respect the law, including with regard to intellectual property</li>
                        </ul>
                        <p>It is critical that you show proper respect for the law generally, and specifically for the laws governing copyright and fair use of copyrighted material. You should not quote more than short excerpts from someone else’s work. It is good general practice to link to others’ work. Use appropriate symbols to mark the first appearance of trademarked terms in your content. Do not post images, music or other copyrighted content unless you own them or have permission from the owner to display such content in this context. Keep in mind that the laws may differ depending on where you live.</p>
                        <ul>
                            <li>Treat others like you want to be treated</li>
                        </ul>
                        <p>Be respectful of others’ opinions and beliefs. Use common courtesy when posting content: refrain from abusive, obscene, or offensive language, images, or links. Do not post content from, or links to, Internet sites that feature sexual content, gambling, or that advocate intolerance of others; and do not create such content on Kali-TV’s Social Networks.</p>
                        <ul>
                            <li>Do not post confidential or proprietary information</li>
                        </ul>
                        <p>By posting content to Kali-TV’s Social Networks, you are agreeing to allow anyone with access to Kali-TV’s Social Networks to access it and use it without restriction, except with regard to any applicable intellectual property rights that you or others may have in such content. You agree that you will not post or transmit material that is confidential or proprietary to you or a third-party.</p>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Kali-TV’s Rights and Disclaimers</h3>
                        <ul>
                            <li>User Generated Content</li>
                            <ul typeof="circle">
                                <li>You grant to Kali-TV a worldwide, non-exclusive, perpetual, irrevocable, royalty-free and fully-paid, transferable right (including the right to sublicense) to exercise all copyright, publicity, and moral rights with respect to any User Generated Content you post on the Kali-TV Social Networks in any media formats and through any media channels.</li>
                                <li>Kali-TV expressly disclaims any liability or responsibility for the User Generated Content posted to its Social Networks, and such content does not necessarily represent the opinions or positions of Kali-TV.</li>
                                <li>Kali-TV does not promise or guarantee that any User Generated Content posted on the Kali-TV Social Networks is correct or accurate, and Kali-TV does not necessarily agree with or endorse such content.</li>
                                <li>Kali-TV retains the right to decline to post any User Generated Content, or remove any previously posted content on Kali-TV Social Networks in our sole discretion.</li>
                                <li>You understand that when using the Site or the Kali-TV Social Networks, you will be exposed to User Generated Content from a variety of sources, and that Kali-TV is not responsible for the usefulness, safety, or intellectual property rights of or relating to such User Generated Content. You further understand and acknowledge that you may be exposed to User Generated Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Kali-TV with respect thereto.</li>
                            </ul>
                            <li>Kali-TV’s Social Networks</li>
                            <ul typeof="circle">
                                <li>Kali-TV reserves the right, but does not have the obligation, to monitor Kali-TV’s Social Networks.</li>
                            </ul>
                            <li>General</li>
                            <ul typeof="circle">
                                <li>ALL CONTENT PROVIDED ON the SITE AND THE Kali-TV Social Networks IS PROVIDED “as is”, WITH ALL FAULTS, WITHOUT WARRANTY OF ANY KIND, EITHER express or implied, including, WITHOUT LIMITATION, THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND noninfringement of any intellectual or other proprietary rights OR ARISING FROM A COURSE OF DEALING, USAGE, OR TRADE PRACTICE.</li>
                                <li>Kali-TV AND ITS SUPPLIERS SHALL not be liable for ANY direct or indirect damages, including without limitation, lost profits OR REVENUES, COSTS OF REPLACEMENT GOODS, lost savings, LOSS OR DAMAGE TO DATA ARISING OUT OF THE USE OR INABILITY TO USE THE SITE OR THE Kali-TVsOCIALnETWORKS OR ANY KALI-TV PRODUCT, DAMAGES RESULTING FROM THE USE OF OR RELIANCE ON THE CONTENT PRESENTED, or any incidental, special, or other economic consequential damages, even if KALI-TV OR ITS SUPPLIERS have been advised of the possibility of such damages.</li>
                                <li>By using the SITE AND THE Kali-TV Social Networks, you agree to indemnify AND hold Kali-TV HARMLESS against any AND ALL third-party action based Upon OR ARISING DIRECTLY OR INDIRECTLY FROM any content you post on the Kali-TV Social Networks.</li>
                                <li>Kali-TV does not grant you any express or implied rights or licenses under any intellectual property rights.</li>
                            </ul>
                        </ul>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Privacy</h3>
                        <ul>
                            <li>Kali-TV respects your personal privacy and the sensitivity of your corporate information. When you visit the Site, we may collect personally identifiable information that you choose to voluntarily disclose. We also may automatically collect certain website use information as you browse the Site. We may share your personal information with other companies and individuals that perform supporting functions in connection with orders for Kali-TV products (e.g., credit card processing), and with maintaining the Site and the Kali-TV Social Networks. Except as provided herein, we will not share your personal information or any website use information with any party unless required by law.</li>
                            <li>Be considerate of others’ privacy, do not reference another without his or her permission.</li>
                        </ul>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Kali-TV Employees</h3>
                        <ul>
                            <li>If you are a Kali-TV employee, you must also follow the Kali-TV Employee Social Networking Guidelines.</li>
                            <li>Content posted by Kali-TV employees is their own and does not necessarily represent the positions, strategies, or opinions of Kali-TV, unless such persons have been authorized by Kali-TV to speak on its behalf. The content on the Kali-TV Social Networks is provided for informational purposes only and is not meant to be an endorsement or representation by Kali-TV or any other party.</li>
                        </ul>
                        <h3 style="font-size:134%;padding-bottom:8px;margin-top:8px">Digital Millennium Copyright Act Notice and Takedown Procedure</h3>
                        <ul>
                            <li>If you believe that your copyright or other rights have been infringed, please provide Kali-TV’s Designated Agent (identified below) written notice with the following information:</li>
                            <ul typeof="circle">
                                <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other interest.</li>
                                <li>A description of the copyrighted work or other work that you claim has been infringed.</li>
                                <li>A description of where the material that you claim is infringing is located on the Site or the Kali-TV Social Networks.</li>
                                <li>Your address, telephone number, and email address.</li>
                                <li>A written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
                                <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner’s behalf.</li>
                            </ul>
                            <li>Kali-TV’s Designated Agent for notice of claims of copyright infringement can be reached as follows:</li>
                            <li>
                                <p>
                                    Kali-TV, LLC.<br />
                                    2401 W 31st Ave <br />
                                    Pine Bluff, Arkansas71603<br />
                                    Attn: General Counsel<br />
                                    Email: teamkalikoe@gmail.com<br />
                                </p>
                            </li>
                        </ul>

                        <ul>
                            <li>If the disputed materials were posted by a third party identifiable through reasonable efforts, we will provide reasonable notice to the third party of the charge. If the third party responds with a valid counter-notification, we will provide you with a copy so that you may take any other steps you may consider appropriate.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
    </section> <!--Recent Upload-->
    <!--Advertise Row-->
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <!--Bootstrap JS-->
    <!--Dropzone-->
    <script src="js/dropzone.html"></script>

    <!--jScroll-->
    <script src="js/jquery.jscroll.min.js"></script>

    <!--Magnific Popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!--Bootstrap Select-->
    <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!--Theme JS-->
    <script src="js/theme.js"></script>
    <style>
        .author_details .bio_section {
            border-right: 1px solid #e8ebed !important;
        }
    </style>
    <script src="js/popup.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <!-- SALES Seasonal Promotions [POP UP] script -->
    <div id="demo" class="simplePopup" style="background-color:white;">
        <center><img class="img-responsive" id="imgslide" src="images/slide1.png" /></center>
        <input type="hidden" id="hdnslide" value="1" />
        <div class="row" style="float:right">
            <button onclick="fnnext()" id="btnnext" value="Next" class="form-control btn btn-default">Next</button>
        </div>
        <div class="row">
            <span id="spSlideText" style="color:#000000"><strong>Welcome to Kali-TV</strong><br>A new world for internet champions.</span>
        </div>
    </div>

    <!-- End of SALES Seasonal Promotions [POP UP] -->

    <style>
        .load-full-screen {
            margin-top: -11px;
        }

        .simplePopup {
            display: none;
            position: fixed !important;
            z-index: 3;
            color: #fff;
            padding: 8px;
            width: 30%;
            min-width: 30%;
            padding: 3%;
        }

        .simplePopupBackground {
            display: none;
            background: #000;
            position: fixed !important;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .recent_uploads {
            padding-top: 20px !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            var popval = '@ViewBag.showslide';
            if (popval == "Yes") {
                $.removeCookie('kalikoepop', { path: '/' });
            }
            if ($.cookie('kalikoepop') == null) {
                alert(popval);
                $.cookie('kalikoepop', 'yes', { expires: 1, path: '/' });

                $('#demo').simplePopup({
                    centerPopup: true,
                    open: function () { },
                    closed: function () { }
                });
                setTimeout(function () {
                    $('#demo').fadeOut('fast');
                    $(".simplePopupBackground").fadeOut("fast");
                }, 20000);
            }
        });
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

</body>
<!-- Mirrored from uxart.io/downloads/metavideo-html/category.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Jan 2019 06:54:20 GMT -->
</html>